.big-card-backdrop {
	background-color: #171414c4;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	overflow-y: hidden;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.big-card-backdrop > button {
	z-index: 3;
}

.big-card{
	border: 3px solid black;
	border-radius: 1em;
	width: min-content;
	padding: 1em;
	background-color: aliceblue;
	box-shadow: 5px 5px 5px black;

}
.big-card-content{
	display: grid;
	/* grid-template-columns: 4em 5em 5em 5em 5em 4em; */
	grid-template-columns: repeat(6, 4em);
	min-height: 5em;
	background-color: aliceblue;
	grid-template-areas: 
    "id id . . . ."
    "name name hp hp type type"
    ". img img img img ."
    ". img img img img ."
	"species species species species species species"
    "ab0 ab0 ab0 ab0 ab0 ab0"
	"ab1 ab1 ab1 ab1 ab1 ab1"
	"ab2 ab2 ab2 ab2 ab2 ab2";
	justify-content: center;
	align-items: center;
}
.big-card-content > p {
	margin: 0.3em 1em;
}
.poke-id{
	grid-area: id;
	font-weight: bold;
	color: #ff0000;
	margin: 0;
}
.poke-name{
	grid-area: name;
	margin:0;
}
.poke-type{
	grid-area: type;
	text-align: end;
}
.poke-hp{
	grid-area: hp;
}
.poke-art{
	grid-area: img;
	max-width: 30vh;
	justify-self: center;
	/* align-self: center; */
	border: 1px solid black;
}
.poke-species{
	grid-area: species;
}
.poke-ability0{
	grid-area: ab0;
	display:flex;
	align-items: center;
}
.poke-ability1{
	grid-area: ab1;
	display:flex;
	align-items: center;
}
.poke-ability2{
	grid-area: ab2;
	display:flex;
	align-items: center;
}
.poke-ab{
	flex-grow: 1;
	padding: 0.2em 0.5em;
}
.poke-ab-desc{
	flex-grow: 2;
	margin: 0em;
}


.big-card-empty-slot{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20em;
}
.big-card-info-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: aliceblue;
}