.search {
	display: flex;
	position:relative;
	width: 100%;
	align-items: center;
	justify-content: end;
	transition: all 0.3s ease-in-out;
	padding-top: 0.9em;
	z-index: 1;
}

.search > input,button,label {
	font-size: 1em;
	margin: 0.3em 1em;
}
.search> button {
	margin-right: 1.5em;
	position: absolute;
	right: -8em;
}

.search>input{
	padding: 0.7em 0.5em 0.2em 0.5em;
	border-width: 0px;
	border-bottom-width: 2px;
	border-radius: 0.5em 0.5em 0em 0em;
}
.search> input:focus{
	outline: none;
	border-color: #56a6eb;
}
.search > label{
	position: relative;
	left: 5.5em;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
	overflow: hidden;
}
.search > p {
	position:absolute;
	/* top: 2.3rem; */
	bottom:1.7rem;
	right: -11rem;
	color: #484848;
}
.centered{
	transform: translate(calc(-50% + 7em),10%);
}
.centered>label{
	font-size: 0.7em;
	bottom: 0.8rem;
	left: 7em;
}
.pokedex-search-onboarding{
	position: absolute;
	background-color:blue;
	color: yellow;
	padding: 2em;
	right: 3em;
	margin-left: 3em;
	top:  5em;
	border: 5px double yellow;
	border-radius: 1em;
}
.pokedex-search-onboarding::after{
	content: "";
	display: inline-block;	
	height:2em;
	width: 2em;
	background-color: blue;
	border: 5px double yellow;
	border-right: none;
	border-bottom: none;
	transform:rotate(45deg);
	position: absolute;
	top:-1.3em;
	/* bottom: 11.4em; */
	right:8em;
}