.pokedex-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
	row-gap: 1em;
	column-gap: 2em;
	padding: 0.5em 2em;
}
.pokedex-container >div{
	/* width: 10em; */
}
.pokedex-container > div > p{
	display:inline-block;
}
.pokedex-list-item{
	display: flex;
	background-color: #48b5ba;
}
.pokedex-small-card {
	display: flex;
	background-color: #e94c4c;
	color: white;
	align-items: center;
	justify-content: center;
	padding: 0.3em 1em;
}
.pokedex-small-card > img {
	width: min-content;
}
.ball-load-spinner{
	display: flex;
	align-items: center;
	justify-content: center;
}
.ball-load-spinner > img{
	width:4em;

}
.ball  {
	animation-name: spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	100% {transform: rotate(360deg);}
}