body {
	font-family: 'Maven Pro', sans-serif;
}
.pika {
	width: 20em;
}
.app-container {
	display: grid;
	grid-template-areas:
	  "h h h"
	  "n m m"
	  "f f f";
	  grid-template-columns: auto 1fr 1fr;
	  grid-template-rows: auto 1fr auto;
  }
  .app-container > header {
	grid-area: h;
	display: flex;
	width: auto;
	/* height: 7em; */
  }
  header > img {
	  width:15em;
  }
  nav, footer, .app-container>header {
	background: repeating-linear-gradient(
		-45deg,
		#4e4e4e,
		#4e4e4e 20px,
		#333333 20px,
		#333333 30px,
		#4e4e4e 30px,
		#4e4e4e 60px,
		#333333 60px,
		#333333 90px
	);
  }
  nav {
	grid-area: n;
	background-color: #afafaf;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 10em;
	padding: 1em 2em;
	background: repeating-linear-gradient(
			-45deg,
			#4e4e4e,
			#4e4e4e 20px,
			#333333 20px,
			#333333 30px,
			#4e4e4e 30px,
			#4e4e4e 60px,
			#333333 60px,
			#333333 90px
		);
  }
  nav img {
	  width:10em;
  }
  nav a {
	  color: aliceblue;
  }
  nav > a.active{
	  filter: drop-shadow(0px 0px 1em #ffff2d);
  }
  main {
	grid-area: m;
	/* background-color: lightblue; */
	background: repeating-linear-gradient(
			-45deg,
			#f2f2f2,
			#f2f2f2 20px,
			#ececec 20px,
			#ececec 30px,
			#f2f2f2 30px,
			#f2f2f2 60px,
			#ececec 60px,
			#ececec 90px
		);
	width: auto;
	height: calc(100vh - 9.6em);
  }
  footer {
	grid-area: f;
	background-color: blue;
	display: flex;
	width: auto;
	height: 4em;
  }
  button {
	  font-family: 'Maven Pro', sans-serif;
	  appearance: none;
	  border: none;
	  border-radius: 0.2em;
	  padding: 0.2em 0.5em;
	  text-align: center;
	  border: 3px solid #f48320;
	  background-color: #f48320;
	  color: white;
	  transition: all 0.2s ease-in-out, transform 0.1s ease-in-out;
  }
  button:hover {
	  cursor: pointer;
	  background-color: #d66e13;
	  border-color: #d66e13;
	  transform: scale(1.05);
  }
  button:disabled{
	  background-color: #f2f2f2;
	  color: #f2c39a;
	  border-color: #f2c39a;
	  cursor:default;
	  transform: scale(1);
  }
  button:active {
	  transform: scale(1);
  }
  @media screen and (max-width: 1000px) {
	.app-container {
	display: grid;
	grid-template-areas:
		"h h h"
		"n n n"
		"m m m"
		"f f f";
		grid-template-columns: auto 1fr 1fr;
		grid-template-rows: auto auto 1fr auto;
	}
	nav {
		grid-area: n;
		/* background-color: #afafaf; */
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		text-align: center;
		width: auto;
	}
	nav > a > img {
		display: none;
	}
	nav > a.active{
		filter: drop-shadow(0px 0px 0.3em #ffff2a);
		color: #ffff2a;
	}
	main {
		height: 84.3vh;
	}
  }