.ball  {
	/* transform: rotate(360deg);
	transition: all 1s ease-in-out; */
	animation-name: spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	100% {transform: rotate(360deg);}
}