body {
	font-family: 'Maven Pro', sans-serif;
}
.pika {
	width: 20em;
}
.app-container {
	display: grid;
	grid-template-areas:
	  "h h h"
	  "n n n"
	  "a m m"
	  "f f f";
	  grid-template-columns: auto 1fr 1fr;     
  }
  header {
	grid-area: h;
	/* background-color: blue; */
	display: flex;
	width: auto;
	/* height: 5em; */
  }
  header > img {
	  width:15em;
  }
  nav {
	grid-area: n;
	/* background-color: green; */
	border: 2px dotted red;
	display: flex;
	width: auto;
	height: 5em;
	justify-content: space-evenly;
	align-items: center;
  }
  aside {
	grid-area: a;
	background-color: #afafaf;
	display: flex;
	flex-direction: column;
	width: 10em;
	padding: 1em 2em;
	background: repeating-linear-gradient(
			-45deg,
			#4e4e4e,
			#4e4e4e 20px,
			#333333 20px,
			#333333 30px,
			#4e4e4e 30px,
			#4e4e4e 60px,
			#333333 60px,
			#333333 90px
		);
  }
  aside img {
	  width:10em;
  }
  aside > a.active{
	  filter: drop-shadow(0px 0px 1em #ffff2d);
  }
  main {
	grid-area: m;
	background-color: lightblue;
	width: auto;
  }
  footer {
	grid-area: f;
	background-color: blue;
	display: flex;
	width: auto;
	height: 4em;
  }